# Regresión lineal múltiple con el método curve_fit() de Scipy

In [1]:
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit
import time
import sys

In [2]:
datos = pd.read_csv("./kc_house_data.csv")
    
datos.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
datos=datos.drop(['id','date','sqft_basement'],axis=1)

In [4]:
#Variables independientes
X = datos.drop(['price'], axis=1)
X = pd.get_dummies(X)
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
#Variables dependientes
Y = datos['price']
Y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [6]:
t1=time.time()

Puesto que queremos hacer un análisis de regresión multiple, es decir, con varias variables independientes, tenemos que pasarle como parámetro a la función curve_fit una función func en la cual se establece la relación entre las variables independientes.

In [7]:
x1 = X.loc[:,'bedrooms']
x2 = X.loc[:,'bathrooms']
x3 = X.loc[:,'sqft_living']
x4 = X.loc[:,'sqft_lot']
x5 = X.loc[:,'floors']
x6 = X.loc[:,'waterfront']
x7 = X.loc[:,'view']
x8 =  X.loc[:,'condition']
x9 = X.loc[:,'grade']
x10 = X.loc[:,'sqft_above']
x11 = X.loc[:,'yr_built']
x12 = X.loc[:,'yr_renovated']
x13 = X.loc[:,'zipcode']
x14 = X.loc[:,'lat']
x15 = X.loc[:,'long']
x16 = X.loc[:,'sqft_living15']
x17 = X.loc[:,'sqft_lot15']

In [8]:
def func(X,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17):
 
    return a0+x1*a1+x2*a2+x3*a3+x4*a4+x5*a5+x6*a6+x7*a7+x8*a8+x9*a9+x10*a10+x11*a11+x12*a12+x13*a13+x14*a14+x15*a15+x16*a16+x17*a17

Ahora ya tenemos todo lo necesario para realizar la llamada al método

In [9]:
resultado= curve_fit(f= func, xdata = X,ydata= Y)

In [10]:
#Estudio tiempo de ejecucion

t2=time.time()
tiempo = float(t2-t1)

print('Regresion lineal utilizando Optimize.curve.fit()')
print("Tiempo de ejecucion: {} segundos".format(tiempo))

Regresion lineal utilizando Optimize.curve.fit()
Tiempo de ejecucion: 0.6596019268035889 segundos

In [11]:
# Medimos el tamaño en bytes del objeto
print(sys.getsizeof(resultado), 'bytes')

64 bytes

In [12]:
resultado[0]

array([ 6.69043204e+06, -3.57665073e+04,  4.11441981e+04,  1.50100585e+02,
        1.28600634e-01,  6.69004456e+03,  5.82960409e+05,  5.28709626e+04,
        2.63856849e+04,  9.58904069e+04,  3.11274311e+01, -2.62022589e+03,
        1.98125143e+01, -5.82420620e+02,  6.02748134e+05, -2.14729630e+05,
        2.16814272e+01, -3.82644437e-01])

In [13]:
pcov =resultado[1] #covarianza de los coeficientes
pcov

array([[ 8.59360805e+12, -3.27979309e+08,  1.14808462e+08,
         1.23942208e+06, -6.14663446e+03,  1.83421144e+09,
        -4.30222167e+08,  6.62435255e+08, -1.05814343e+09,
         5.26536197e+08, -1.79026271e+06, -7.50494383e+07,
        -7.78547993e+05, -8.13647770e+07,  7.18231778e+08,
         4.07235945e+09, -1.82146173e+06, -8.38830499e+03],
       [-3.27979309e+08,  3.57906807e+06, -1.20651899e+06,
        -2.20526038e+03,  2.40123375e+00,  1.85428333e+05,
         1.47268780e+06,  3.00036804e+05, -1.57190731e+05,
         5.26326357e+05,  7.58359297e+01,  9.22607160e+03,
         2.28004551e+02,  3.01685701e+03,  7.38545043e+05,
         2.48870017e+05,  7.41208108e+01,  6.30199592e+00],
       [ 1.14808462e+08, -1.20651899e+06,  1.05864243e+07,
        -5.93497742e+03, -1.41740788e+00, -3.04192766e+06,
         2.74500781e+05, -1.32232932e+05, -5.12341924e+05,
        -5.54779974e+05,  2.19369172e+03, -7.75180523e+04,
        -1.57367046e+03,  1.90077303e+03, -7.19210564e+05,
         9.33982570e+05,  3.27085309e+02,  6.36923946e+00],
       [ 1.23942208e+06, -2.20526038e+03, -5.93497742e+03,
         1.92318105e+01, -4.35503373e-03,  4.82484531e+03,
        -1.80950426e+02, -1.41688595e+03, -6.34430929e+02,
        -1.75187555e+03, -1.23947759e+01,  3.53592336e+01,
        -1.47543806e-01, -6.43664637e+00, -2.48044764e+03,
         4.44321190e+03, -2.91060673e+00, -9.23791829e-03],
       [-6.14663446e+03,  2.40123375e+00, -1.41740788e+00,
        -4.35503373e-03,  2.29655369e-03,  3.79229399e+00,
         1.42817954e+01, -3.48320568e+00,  2.12478349e+00,
        -2.07262915e+00, -6.53729307e-03,  1.52120509e-01,
         2.41526872e-03, -2.20724850e-03,  1.74243940e+01,
        -4.27805709e+01,  1.08219288e-02, -2.41808970e-03],
       [ 1.83421144e+09,  1.85428333e+05, -3.04192766e+06,
         4.82484531e+03,  3.79229399e+00,  1.29299801e+07,
        -2.11806395e+05, -1.83983896e+05,  4.78223990e+05,
        -6.81553715e+05, -6.93828817e+03, -5.68855894e+04,
        -6.96395257e+02, -1.10760066e+04, -3.19671394e+06,
         4.04297664e+06,  1.38034667e+03,  9.23516464e+00],
       [-4.30222167e+08,  1.47268780e+06,  2.74500781e+05,
        -1.80950426e+02,  1.42817954e+01, -2.11806395e+05,
         3.01372874e+08, -1.39220080e+07, -4.21729548e+05,
         9.07344837e+05, -2.75113767e+03, -1.55227536e+04,
        -3.52680517e+03,  9.12942414e+03,  1.54696147e+06,
         4.22008314e+06,  1.72083077e+03, -1.46522658e+01],
       [ 6.62435255e+08,  3.00036804e+05, -1.32232932e+05,
        -1.41688595e+03, -3.48320568e+00, -1.83983896e+05,
        -1.39220080e+07,  4.57983347e+06, -8.07013197e+04,
        -3.85369378e+05,  1.53368552e+03,  1.26228969e+04,
        -2.44962403e+02, -6.42976113e+03,  2.09110870e+06,
         1.24172150e+06, -1.16178070e+03, -6.71089979e-01],
       [-1.05814343e+09, -1.57190731e+05, -5.12341924e+05,
        -6.34430929e+02,  2.12478349e+00,  4.78223990e+05,
        -4.21729548e+05, -8.07013197e+04,  5.52937249e+06,
        -1.33406917e+05,  8.27651557e+02,  5.50542867e+04,
         1.48169808e+03,  8.67988861e+03,  1.32332919e+06,
        -1.43726109e+05,  3.18742128e+02, -2.97999787e+00],
       [ 5.26536197e+08,  5.26326357e+05, -5.54779974e+05,
        -1.75187555e+03, -2.07262915e+00, -6.81553715e+05,
         9.07344837e+05, -3.85369378e+05, -1.33406917e+05,
         4.63450021e+06, -1.34715760e+03, -3.46810977e+04,
        -2.83474452e+02,  2.48266896e+03, -3.80685060e+06,
         4.45844229e+06, -2.12044153e+03,  4.19652516e+00],
       [-1.79026271e+06,  7.58359297e+01,  2.19369172e+03,
        -1.23947759e+01, -6.53729307e-03, -6.93828817e+03,
        -2.75113767e+03,  1.53368552e+03,  8.27651557e+02,
        -1.34715760e+03,  1.90123770e+01,  4.70199260e+00,
         1.42334072e-01,  3.23400137e+00,  5.43767883e+03,
        -9.93378355e+03, -2.15999796e+00, -5.32615376e-03],
       [-7.50494383e+07,  9.22607160e+03, -7.75180523e+04,
         3.53592336e+01,  1.52120509e-01, -5.68855894e+04,
        -1.55227536e+04,  1.26228969e+04,  5.50542867e+04,
        -3.46810977e+04,  4.70199260e+00,  5.27935031e+03,
         8.48032931e+01,  3.06281188e+02,  1.42927123e+05,
        -2.29064223e+05,  7.23406309e+00, -7.88369593e-02],
       [-7.78547993e+05,  2.28004551e+02, -1.57367046e+03,
        -1.47543806e-01,  2.41526872e-03, -6.96395257e+02,
        -3.52680517e+03, -2.44962403e+02,  1.48169808e+03,
        -2.83474452e+02,  1.42334072e-01,  8.48032931e+01,
         1.33633443e+01,  3.21301489e+00,  1.54809133e+03,
        -1.80867328e+03,  6.75184090e-01, -3.79870883e-03],
       [-8.13647770e+07,  3.01685701e+03,  1.90077303e+03,
        -6.43664637e+00, -2.20724850e-03, -1.10760066e+04,
         9.12942414e+03, -6.42976113e+03,  8.67988861e+03,
         2.48266896e+03,  3.23400137e+00,  3.06281188e+02,
         3.21301489e+00,  1.08806631e+03, -7.78801155e+04,
         1.82538542e+05,  1.07417331e+01, -1.98887451e-02],
       [ 7.18231776e+08,  7.38545043e+05, -7.19210564e+05,
        -2.48044764e+03,  1.74243940e+01, -3.19671394e+06,
         1.54696147e+06,  2.09110870e+06,  1.32332919e+06,
        -3.80685060e+06,  5.43767883e+03,  1.42927123e+05,
         1.54809133e+03, -7.78801154e+04,  1.15234241e+08,
        -9.69039689e+06, -1.87066544e+03,  1.81580629e+01],
       [ 4.07235945e+09,  2.48870017e+05,  9.33982570e+05,
         4.44321190e+03, -4.27805709e+01,  4.04297664e+06,
         4.22008314e+06,  1.24172150e+06, -1.43726109e+05,
         4.45844229e+06, -9.93378355e+03, -2.29064223e+05,
        -1.80867328e+03,  1.82538542e+05, -9.69039689e+06,
         1.72499434e+08, -6.88377208e+03, -7.84080771e+01],
       [-1.82146173e+06,  7.41208108e+01,  3.27085309e+02,
        -2.91060673e+00,  1.08219288e-02,  1.38034667e+03,
         1.72083077e+03, -1.16178070e+03,  3.18742128e+02,
        -2.12044153e+03, -2.15999796e+00,  7.23406309e+00,
         6.75184090e-01,  1.07417331e+01, -1.87066544e+03,
        -6.88377208e+03,  1.18867797e+01, -1.25784775e-02],
       [-8.38830499e+03,  6.30199592e+00,  6.36923946e+00,
        -9.23791829e-03, -2.41808970e-03,  9.23516464e+00,
        -1.46522658e+01, -6.71089979e-01, -2.97999787e+00,
         4.19652516e+00, -5.32615376e-03, -7.88369593e-02,
        -3.79870883e-03, -1.98887451e-02,  1.81580629e+01,
        -7.84080771e+01, -1.25784775e-02,  5.36836973e-03]])