# Regresión lineal múltiple con el los métodos de la matriz inversa

In [1]:
import numpy as np
import pandas as pd
import time
import sys

In [2]:
datos = pd.read_csv("./kc_house_data.csv")
datos.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
datos=datos.drop(['id','date','sqft_basement'],axis=1)

In [4]:
#Variables independientes
X = datos.drop(['price'], axis=1)
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
X=np.vstack([np.ones(len(X)).T,X.T]).T

In [6]:
#Variables dependientes
Y = datos['price']
Y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [7]:
 Y = np.array(Y)

## Método pseudoinversa de Moore-Penrose

In [8]:
t1=time.time()

In [9]:
mpinv = np.linalg.pinv(X)
resultado = mpinv.dot(Y)

In [10]:
t2=time.time()
tiempo = float(t2-t1)

print('Regresion lineal utilizando Moore-Penrose')
print("Tiempo de ejecucion: {} segundos".format(tiempo))

Regresion lineal utilizando Moore-Penrose
Tiempo de ejecucion: 0.03034806251525879 segundos

In [11]:
# Medimos el tamaño en bytes del objeto
print(sys.getsizeof(resultado), 'bytes')

240 bytes

Los coeficientes son:

In [12]:
resultado

array([ 6.69032460e+06, -3.57665414e+04,  4.11442785e+04,  1.50100505e+02,
        1.28597869e-01,  6.68955012e+03,  5.82960458e+05,  5.28709424e+04,
        2.63856491e+04,  9.58904452e+04,  3.11275844e+01, -2.62022321e+03,
        1.98125837e+01, -5.82419866e+02,  6.02748226e+05, -2.14729828e+05,
        2.16814005e+01, -3.82641850e-01])

## Método multiplicaciones simples de la matriz inversa

Ahora repetimos el proceso mediante multiplicaciones simples de la matriz inversa

In [13]:
t1=time.time()

In [14]:
resultado = np.dot((np.dot(np.linalg.inv(np.dot(X.T,X)),X.T)),Y)

In [15]:
#Estudio tiempo de ejecucion

t2=time.time()
tiempo = float(t2-t1)

print('Regresion lineal utilizando la matriz inversa')
print("Tiempo de ejecucion: {} segundos".format(tiempo))

Regresion lineal utilizando la matriz inversa
Tiempo de ejecucion: 0.0179440975189209 segundos

In [16]:
# Medimos el tamaño en bytes del objeto
print(sys.getsizeof(resultado), 'bytes')

240 bytes

In [17]:
resultado

array([ 6.69032463e+06, -3.57665414e+04,  4.11442785e+04,  1.50100505e+02,
        1.28597869e-01,  6.68955012e+03,  5.82960458e+05,  5.28709424e+04,
        2.63856491e+04,  9.58904452e+04,  3.11275844e+01, -2.62022321e+03,
        1.98125837e+01, -5.82419866e+02,  6.02748226e+05, -2.14729828e+05,
        2.16814005e+01, -3.82641850e-01])