# Regresión lineal múltiple con los métodos de la matriz inversa

In [1]:
import numpy as np
import pandas as pd
import time
import sys

In [2]:
datos = pd.read_csv('./insurance.csv')
datos.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
datos['sex'].replace({'female' : 0, 'male' : 1}, inplace= True)
datos['smoker'].replace({'no': 0, 'yes': 1}, inplace= True)
datos = pd.get_dummies(datos)

In [4]:
X = datos.drop(['charges','region_northeast'], axis=1)
X.head()

,age,sex,bmi,children,smoker,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,0,0,1
1,18,1,33.770,1,0,0,1,0
2,28,1,33.000,3,0,0,1,0
3,33,1,22.705,0,0,1,0,0
4,32,1,28.880,0,0,1,0,0

In [5]:
X=np.vstack([np.ones(len(X)).T,X.T]).T

In [6]:
Y = datos['charges']
Y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [7]:
  Y = np.array(Y)

## Método Moore-Penrose

In [8]:
t1=time.time()

In [9]:
mpinv = np.linalg.pinv(X)
resultado = mpinv.dot(Y)

In [10]:
t2=time.time()
tiempo = float(t2-t1)

print('Regresion lineal utilizando Moore-Penrose')
print("Tiempo de ejecucion: {} segundos".format(tiempo))

Regresion lineal utilizando Moore-Penrose
Tiempo de ejecucion: 0.02195906639099121 segundos

In [11]:
# Medimos el tamaño en bytes del objeto
print(sys.getsizeof(resultado), 'bytes')

168 bytes

Los coeficientes son:

In [12]:
resultado

array([-11938.53857617,    256.85635254,   -131.3143594 ,    339.19345361,
          475.50054515,  23848.53454191,   -352.96389942,  -1035.02204939,
         -960.0509913 ])

## Método mediante multiplicaciones simples de la matriz inversa

In [13]:
t1=time.time()

In [14]:
resultado = np.dot((np.dot(np.linalg.inv(np.dot(X.T,X)),X.T)),Y)

In [15]:
#Estudio tiempo de ejecucion

t2=time.time()
tiempo = float(t2-t1)

print('Regresion lineal utilizando la matriz simple inversa multiplicativa')
print("Tiempo de ejecucion: {} segundos".format(tiempo))

Regresion lineal utilizando la matriz simple inversa multiplicativa
Tiempo de ejecucion: 0.018902063369750977 segundos

In [16]:
# Medimos el tamaño en bytes del objeto
print(sys.getsizeof(resultado), 'bytes')

168 bytes

In [17]:
resultado

array([-11938.53857617,    256.85635254,   -131.3143594 ,    339.19345361,
          475.50054515,  23848.53454191,   -352.96389942,  -1035.02204939,
         -960.0509913 ])